#container {
    width: 100%;
    margin: 0px auto;
}

#layout-header {
    margin-bottom: 20px;
}

#layout-hbar {
    width: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#layout-output {
    width: calc(100% - 350px);
    padding: 20px;
    margin-bottom: 20px;
    float: left;
}

#layout-scatter {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

#layout-table {
    width: 100%;
    float: left;
}

.layout-scatter {
    border: 1px solid #bcbcbc;
}

text {
    fill: black;
    font: 11px sans-serif;
    text-anchor: middle;
}

.cell rect {
    fill: white;
}

.header rect {
    fill: white;
}

.button-group > li {
  float: left;
  display: inline-block;
  padding: 0px;
  list-style: none;
  margin-top: 4px;
  margin-bottom: 4px;
}

.button{
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin: 0 0 1.11111rem;
  position: relative;
  text-align: center;
  padding: 6px;
  background-color: #008CBA;
  color: #FFFFFF;
}
